import React from "react";
import classNames from "classnames";
import { Component{{pascalCase name}}Props } from "./{{name}}.d";
import "./{{name}}.css";

export const {{pascalCase name}}: React.FC<Component{{pascalCase name}}Props> = (props) => {

  const { children, className } = props;

  const prefixCls: string = "{{name}}";
  const classes = classNames(prefixCls, {}, className);

  return (
    <div className={classes}>
      {{pascalCase name }} component
    </div>
  );
};
